nav {
    background-color: rgb(120, 159, 129);
    margin: 0 auto;
} 

nav div h1 {
    margin-bottom: 0px;
    padding-left: 15px;
    color: white;
}

li {
    font-size: ;
}
section {
    width: 100%;
    margin: 0 auto;
}

#search form {
    margin: 0 auto;
    margin-top: 20%;
}